<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="deliveries.css"/>
    <title>Dashboard</title>
</head>
<body>
    <header>
        <nav>
            <ul class="navMenu">
                <li><a href="/openDeliveries">A list of open deliveries</a></li>
                <li><a href="/fulfillment">Delivery fulfillment page</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>