<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/deliveries.css">

</head>

<body>
 
    <main class="login-page">
        <form method="post" action="/login">
            {{#if errorMsg}}
            <h5>{{errorMsg}}</h5>
            {{else}}
            <h2>Please login below</h2>
            {{/if}}
            <label>Username: </label>
            <input name="username" type="text" placeholder="Enter your username">
            <br>
            <label>Password: </label>
            <input name="password" type="password" placeholder="Enter your password">
            <br>

            <button type="submit">Login</button>
        </form>
    </main>
</body>

</html>